@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .light {
    @apply bg-white text-gray-900;
  }
  .dark {
    @apply bg-[#111] text-[#bbb];
  }
  .active {
    @apply text-green-700;
  }
}

/* .active {
  color: green;
} */

.theme {
  transition: all 1s ease;
}

.custom-animation-up-down-t1 {
  animation: up-down-t1 2s infinite ease alternate;
}
@keyframes up-down-t1 {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0) scale(1.05);
  }
}

.custom-animation-up-down-t2 {
  animation: up-down-t2 2s infinite ease alternate;
}
@keyframes up-down-t2 {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: none;
  }
}
